@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Mobile styles */

  .section-heading {
    @apply relative uppercase pl-3 tracking-[0.5em] md:tracking-[0.75em] text-heading text-2xl mx-auto mt-[15%] md:mt-[6%];
  }

  .section-sub-heading {
    @apply relative my-4 uppercase pl-3 text-heading text-xs md:text-sm text-center mb-4 mx-auto tracking-[0.25em];
  }

  .projectButton {
    @apply md:px-6 md:mx-3
      px-4 py-2 mx-5
      border-cardLight dark:border-card
      border uppercase
      bg-[#169137]/80
      rounded-full
      text-xs tracking-widest
      text-white
      transition-all
      flex justify-center items-center
      dark:hover:border-[#169137]/80  hover:border-[#169137]/80;
  }

  .skillFilterButton {
    @apply border-[#169137]/40 dark:bg-card bg-cardLight md:mx-2 px-6 md:px-8 md:py-3 mx-1 py-2 border md:w-auto w-[45%] h-8
    dark:border-primaryDark border-primaryLight rounded-full uppercase text-xs tracking-widest 
    transition-all justify-center items-center;
  }

  .skillFilterButtonActive {
    @apply border-[#169137]/40 bg-[#169137] px-6 mx-1 py-2 border w-[45%] md:w-auto h-8 md:px-8 md:py-3
    dark:border-primaryDark border-primaryLight rounded-full uppercase text-xs tracking-widest text-text
    transition-all justify-center items-center;
  }

  .contactInput {
    @apply outline-none dark:bg-card bg-cardLight rounded-sm border-b px-4 py-4 border-primaryLight dark:border-primaryDark w-full 
    dark:text-text dark:placeholder-heading placeholder-primaryDark transition-all focus:border-[#169137]/40;
  }

  @keyframes ping {
    75%,
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }

  .hide-scrollbar {
    scrollbar-width: thin;
    -ms-overflow-style: none;
    overflow: scroll;
  }

  .hide-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
  }

  .animate-ping-custom {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
